*{
    margin:0;
    padding:0;
    }
    
    body {
        
        text-align: center;
    }
    
  .popUp{

    
    position: fixed;
    margin:5% 22%;
    width: 36%;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
    
    .close {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        font-size: 20px;
    }
    
      
   
.card-group{
    margin:0 13%;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;

}
.card{
flex: 0 0 calc(33% );
margin-bottom:20px;
}

.card-img-top{
    height: 15em;
    width:15em;
    border-radius: 100%;

}
.card-text {
    max-width: 15em; /* Set the maximum width for the card text */
    overflow: hidden; /* Hide any overflow content */
    text-overflow: ellipsis; /* Add ellipsis (...) for overflowed text */
    white-space:nowrap; /* Prevent text from wrapping to the next line */
  }